.row {
    display: flex;
    align-items: center;
    border: 1px solid white;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 80px;
    padding-left: 80px;
    // background-color: #A8DADC;
}

.column {
    width: 150px;
    display: flex;
}

.hover-victory {
    cursor: pointer;
    background-color: #b3e6e8;
}

.normal-victory {
    background-color: #A8DADC;
}

.hover-defeat {
    cursor: pointer;
    background-color: #fd9e9e;
}

.normal-defeat {
    background-color: #f88d8d;
}

.capitalize {
    text-transform: capitalize;
 }