<div class="modal-header">
  <h3 class="modal-title" id="modal-basic-title">Region Select</h3>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="region">
      <mat-radio-button style="padding: 10px; width: 50%;" *ngFor="let region of regions" [value]="region">{{
        region
      }}</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="closeModal()">OK</button>
</div>