<img
  src="http://ddragon.leagueoflegends.com/cdn/10.11.1/img/profileicon/{{
    summoner.profileIconId
  }}.png"
  alt="summoner icon"
/>
<h1>{{ summoner.name }}</h1>
<div>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Lane</th>
        <th>Champion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let match of matches">
        <td>{{ match.timestamp | date: "yyyy-MM-dd" }}</td>
        <td>{{ match.lane }}</td>
        <td>
          <img
            style="height: 40%; margin-right: 10px;"
            src="http://ddragon.leagueoflegends.com/cdn/10.11.1/img/champion/{{
              match.championName
            }}.png"
            alt="champ icon"
          />
          <label>{{ match.championName }}</label>
        </td>
      </tr>
    </tbody>
  </table>
</div>
