<span class="header">
  <img style="width: 60px; margin-right: 10px;" src="http://ddragon.leagueoflegends.com/cdn/10.11.1/img/profileicon/{{
      summoner.profileIconId
    }}.png" alt="summoner icon" />
  <div>{{ summoner.name }}</div>
</span>
<div class="table">
  <div *ngFor="let match of matches">
    <match-row [match]="match"></match-row>
  </div>
</div>
<!-- <div class="table">
  <table>
    <thead>
      <tr>
        <th class="table-header">Date</th>
        <th class="table-header">Lane</th>
        <th class="table-header">Champion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let match of matches">
        <td>{{ match.timestamp | date: "yyyy-MM-dd" }}</td>
        <td>{{ match.lane }}</td>
        <td>
          <div style="display: flex; align-items: center;">
            <img style="height: 30px; margin-right: 10px;" src="http://ddragon.leagueoflegends.com/cdn/10.11.1/img/champion/{{
                match.championName
              }}.png" alt="champ icon" />
            <label>{{ match.championName }}</label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->