.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-size: xx-large;
}

.table-header {
    border-bottom: 1px solid #A663CC;
}

.table {
    display: flex;
    justify-content: center;
}