<div class="body center">
  <span class="search-container">
    <div class="input-group mb-3" style="margin-right: 10px;">
      <input type="text" class="form-control" placeholder="Summoner Name" aria-label="Summoner Name" [(ngModel)]="summonerName" (keyup.enter)="lookupSummoner()">
      <div class="input-group-append">
        <button class="btn btn-secondary btn-sm" (click)="changeRegion()">{{region}}</button>
      </div>
    </div>
    <button class="btn btn-primary" (click)="lookupSummoner()">GO</button>
  </span>
</div>